body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    background-image: url("./app-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.card {
    color: #fff;
    border-radius: 10px;
    background: rgba(17, 51, 66, 0.829);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    margin: 2% 0 0 3%;
}

.card-detail {
    text-align: left;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.city-icon {
    transform: scale(1.4);
}

.main-area {
    position: absolute;
    width: 100%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    top: 20px;
    position: fixed;
    width: 60%;
    border-radius: 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    transform: translateX(60%);
}

nav {
    background-image: linear-gradient(10deg, rgba(65, 172, 235, 0.726), transparent);
    font-size: 2rem;
}

.font-header {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-shadow: 2px 1px white;
}

.font-lg {
    font-size: 1.5rem;
    color: black !IMPORTANT;
    font-weight: bold;
}

.carousel-indicators [data-bs-target] {
    border-radius: 5px;
    width: 0;
    list-style: circle;
    margin: -10px 10px;
    font-size: 40px;
}

.carousel-item {
    background-image: linear-gradient(transparent, rgba(100, 100, 50, 0.8), transparent);
    width: 100%;
    font-weight: bold;
}

.footer {
    font-size: 0.8rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(transparent, rgba(2, 21, 26, 0.801));
    color: white;
    text-align: center;
}

.footer-w {
    color: white;
}